html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: linear-gradient(90deg, #00b2ca 0%, #1d4e89 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Georgia;
}

.tab {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.tab .tablinks {
    background-color: #fbd1a2;
    color: white;
}

.tab .tablinks:hover , 
.tab .tablinks:focus {
    background-color: #f79256;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    flex-grow: 1;
    transition: 0.3s;
    width: 33.33%;
    box-sizing: border-box;
}

.tabcontent {
    display: none;
    color: white;
    padding: 6px 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: center;
    border: 2px solid white;
    background-color: #7dcfb6;
}