html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: linear-gradient(90deg, #00b2ca 0%, #1d4e89 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.tab {
    display: flex;
    justify-content: space-between;
}

.tab .tablinks {
    background-color: #fbd1a2;
    color: white;
}

.tab .tablinks:hover , 
.tab .tablinks:focus {
    background-color: #f79256;
}

.tab button {
    flex-grow: 1;
    width: 33.33%;
    box-sizing: border-box;
}

.tabcontent {
    color: white;
}

th, td {
    border: 1px solid white;
}